<ion-view view-title="Intro">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="left">
        <button class="button button-light button-clear no-animation" ng-click="startApp()" ng-show="!slideIndex">
            Skip
        </button>
        <button class="button button-light button-clear no-animation" ng-click="previous()" ng-show="slideIndex > 0">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-light button-clear no-animation" ng-click="next()" ng-show="slideIndex != 2">
            <i class="icon ion-arrow-right-c"></i>
        </button>
        <button class="button button-light button-clear no-animation" ng-click="startApp()" ng-show="slideIndex == 2">
            Start
        </button>
    </ion-nav-buttons>
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <h3>Thank you for choosing the Awesome App!</h3>
            <div id="logo">
                <img src="img/icon.png" width="128px" height="128px">
            </div>
            <p>
                We've worked super hard to make you happy.
            </p>
            <p>
                But if you are angry, too bad.
            </p>
        </ion-slide>
        <ion-slide>
            <h3>Using Awesome</h3>

            <div id="list">
                <h5>Just three steps:</h5>
                <ol>
                    <li>Be awesome</li>
                    <li>Stay awesome</li>
                    <li>There is no step 3</li>
                </ol>
            </div>
        </ion-slide>
        <ion-slide>
            <h3>Any questions?</h3>
            <p>
                Too bad!
            </p>
        </ion-slide>
    </ion-slide-box>
</ion-view>
