<ion-view view-title="{{title}}">
    <ion-content padding="true">
        <div style="position: fixed;right: 0; bottom: 0; left: 0;top: 0;height:100vh;-webkit-overflow-scrolling: touch;overflow-y: scroll;">
            <div class="center_loader" id="loadingMessage">
                <div class="conteneur_general_load_10">
                    <div class="cle_bleu_load_10">
                    </div>
                </div>
            </div>

            <iframe ng-src="{{currentProjectUrl}}" width="100%" height="100%" id="foo" style="overflow:scroll !important; -webkit-overflow-scrolling:touch !important;position: absolute;top: 0;left: 0;width: 100%;height: 100%;"></iframe>
        </div>
        <!-- <div ng-include="currentProjectUrl"></div> -->
    </ion-content>
</ion-view>
