<ion-view view-title="{{title}}">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="lesson in lessons | filter:{'topicId':id}" href="#/app/lesson/{{lesson.id}}/{{lesson.title}}" class="item-icon-left item-icon-right">
                <i class="icon ion-bookmark assertive"></i>{{lesson.title}}
                <i class="icon ion-ios7-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-subfooter has-customsubfooter positive-bg positive-border">
        <div class="row">
            <div class="col">
                <a  nav-transition="android" class="button button-block button-assertive icon-left" ng-click="startQuiz({{id}},'{{title}}')">
                    TAKE QUIZ
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block icon-left ion-grid button-orange" ng-click="openscoreboard()">
                    SCORE BOARD
                </button>
            </div>
        </div>
    </div>
</ion-view>
