<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="dark-menu">
        <ion-header-bar class="bar-positive">
            <h1 class="title"></h1>
        </ion-header-bar>
        <ion-content>
            <ion-list class="dark list">
                <ion-item nav-clear menu-close href="#/app/topics" class="item item-icon-left">
                    <i class="icon ion-home"></i> Home
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/author" class="item item-icon-left">
                    <i class="icon ion-person"></i> Author
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/about" class="item item-icon-left">
                    <i class="icon ion-help"></i> About the App
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
