<ion-view view-title="{{title}}" hide-back-button="true">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true">
        <div class="card">
            <div class="item item-text-wrap">
                <p>{{questions.title}}</p>
            </div>
        </div>
        <div class="list">
            <ion-radio ng-repeat="answer in questions.choices" ng-value="answer.choice" ng-model="answer.checked" ng-click="serverSideChange($index,answer,questions)">
                {{answer.choice}}
            </ion-radio>
        </div>
    </ion-content>
    <div class="bar bar-subfooter has-customsubfooter positive-bg positive-border">
        <div class="row">
            <div class="col">
                <a class="button button-block button-orange icon-left ion-arrow-left-c" ng-hide="!prevenable" ng-click="previousquestion()">
                    PREV
                </a>
            </div>
            <div class="col">
                <button class="button button-block icon-right ion-arrow-right-c button-orange" ng-hide="!enable" ng-click="nextquestion()">
                    NEXT
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-block icon-left ion-home button-positive" ng-click="home()">
                    HOME
                </a>
            </div>
        </div>
    </div>
</ion-view>
