<ion-modal-view>
    <ion-header-bar class="bar-orange">
        <div class="buttons">
            <button class="button button-clear" ng-click="closescoreboard()">
                <i class="icon ion-ios7-arrow-back light"></i>
            </button>
        </div>
        <h1 class="title">Score Board</h1>
        <div class="buttons">
            <button class="button button-clear icon-right" ng-click="refreshScore()">
              <i class="icon ion-refresh light"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ng-repeat="score in scores">
                <i class="icon ion-person-stalker"></i> {{score.name}}
                <span class="badge badge-assertive">{{score.score}}</span>
            </a>
        </div>
    </ion-content>
</ion-modal-view>
