<ion-view view-title="CRIM-REVIEWER">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="topic in topics" href="#/app/topics/{{topic.id}}/{{topic.title}}" class="item-icon-left item-icon-right">
       <i class="icon ion-bookmark assertive"></i>
        {{topic.title}}
        <i class="icon ion-ios7-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
