@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body, .ionic-body {
    font-family: 'Roboto', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif !important;
}
.dark-menu {
    background: #464646;
}
.dark {
    background-color: #3f4041 !important;
    color: #ffffff;
}
.dark .scroll-content {
    background-color: #3f4041 !important;
}
.dark .item {
    background-color: #3f4041;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #333333;
    max-height: none;
}
.dark .item:first-child {
    border-top: 1px solid black;
}
.dark .item:last-child {
    border-bottom: 1px solid #333333;
}
.dark .item.current {
    background-color: #3f4041 !important;
    border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
    color: #F0F1F1;
}
.dark .item-complex .item-content {
    background-color: #3f4041;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #333333;
    max-height: none;
}
.dark .item.current p, .dark .item.current h3 {
    opacity: .7;
}
.dark .item-complex .dark .item-content, .dark .item {
    background-color: #3f4041 !important;
    border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
    color: #F0F1F1;
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1) {
    .button.button-block, .button.button-full {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .has-customsubfooter {
        bottom: 0px;
        height: 160px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .button.button-block, .button.button-full {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .has-customsubfooter {
        bottom: 0px;
        height: 160px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .has-customsubfooter {
        bottom: 0px;
        height: 180px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    .has-customsubfooter {
        bottom: 0px;
        height: 225px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .has-customsubfooter {
        bottom: 0px;
        height: 225px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (-webkit-device-pixel-ratio: 1.5) {
    /* CSS for high-density screens */

    .has-customsubfooter {
        bottom: 0px;
        height: 180px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (-webkit-device-pixel-ratio: 0.75) {
    /* CSS for low-density screens */

    .has-customsubfooter {
        bottom: 0px;
        height: 180px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (-webkit-device-pixel-ratio: 3) {
    /* CSS for low-density screens */

    .has-customsubfooter {
        bottom: 0px;
        height: 180px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (orientation: portrait) {
    .button.button-block, .button.button-full {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .has-customsubfooter {
        bottom: 0px;
        height: 120px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.bar.bar-orange {
    border-color: #e67e22;
    background-color: #e67e22;
    background-image: linear-gradient(0deg, #e67e22, #e67e22 50%, transparent 50%);
    color: #fff;
}
.bar.bar-orange .title {
    color: #fff;
}
.bar.bar-orange .murag_title {
    color: #fff;
}
.button.button-orange {
    border-color: #e67e22;
    background-color: #e67e22;
    color: #fff;
}
.button.button-orange:hover {
    color: #fff;
    text-decoration: none;
}
.button.button-orange.active, .button.button-orange.activated {
    border-color: #e67e22;
    background-color: #d35400;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.button.button-orange.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #d35400;
}
.button.button-orange.button-icon {
    border-color: transparent;
    background: none;
}
.button.button-orange.button-outline {
    border-color: #e67e22;
    background: transparent;
    color: #e67e22;
}
.button.button-orange.button-outline.active, .button.button-orange.button-outline.activated {
    background-color: #e67e22;
    box-shadow: none;
    color: #fff;
}
.center_loader {
    margin-top: 90px;
    margin-left: 90px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.conteneur_general_load_10 {
    overflow: hidden;
    width: 145px;
    height: 85px
}
.cle_bleu_load_10 {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border-top: 10px solid #CB2025;
    border-right: 10px solid #97BF0D;
    border-bottom: 10px solid #F8B334;
    border-left: 10px solid #00A096;
    -webkit-animation: load_dix 1.4s infinite linear;
    -moz-animation: load_dix 1.4s infinite linear;
    -ms-animation: load_dix 1.4s infinite linear;
    -o-animation: load_dix 1.4s infinite linear;
    animation: load_dix 1.4s infinite linear
}
@-webkit-keyframes load_dix {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg)
    }
}
@-moz-keyframes load_dix {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg)
    }
}
@-ms-keyframes load_dix {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg)
    }
}
@keyframes load_dix {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg)
    }
}
.details-section {
    margin-bottom: 40px !important;
}
.details-body div {
    margin-top: 5px;
    margin-bottom: 5px;
    /* font-size: 0.90em; */
}
.details-title {
    font-weight: bold;
    line-height: 1.25em;
    font-size: 1.4em !important;
}
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
#logo {
    margin: 30px 0px;
}
#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}
.button.ng-hide {
    display: none;
}
